%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {mochiweb, ".*", {git, "git://github.com/retgoat/mochiweb.git", {branch, "master"}}},
  {sync, ".*", {git, "git://github.com/retgoat/sync.git", {branch, "master"}}}
   ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
